################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JezekT.RopeClimbing.Domain/bin/Debug/netstandard2.0
/JezekT.RopeClimbing.Domain/obj
/JezekT.RopeClimbing.Server.Api/bin/Debug/netcoreapp2.0
/JezekT.RopeClimbing.Server.Api/obj
/JezekT.RopeClimbing.Server.Migrations.ConsoleApp/bin/Debug/netcoreapp2.0
/JezekT.RopeClimbing.Server.Migrations.ConsoleApp/obj
/JezekT.RopeClimbing.Server.Services/bin/Debug/netcoreapp2.0
/JezekT.RopeClimbing.Server.Services/obj
/JezekT.RopeClimbing.Api.Client.ConsoleApp/bin
/JezekT.RopeClimbing.Api.Client.ConsoleApp/obj
/JezekT.RopeClimbing.Domain/bin/Release/netstandard2.0
/JezekT.RopeClimbing.Server.Api/bin
/JezekT.RopeClimbing.Server.Migrations.ConsoleApp/bin/Release/netcoreapp2.0
/JezekT.RopeClimbing.Server.Services/bin/Release/netcoreapp2.0
/packages
/JezekT.RopeClimbing.Server.Api/Properties/PublishProfiles
/JezekT.RopeClimbing.Api.Client/bin/Debug/netstandard2.0
/JezekT.RopeClimbing.Api.Client/obj/Debug/netstandard2.0
/JezekT.RopeClimbing.Api.Client/obj
